In [ ]:
import pandas as pd

In [ ]:
students_df = pd.read_csv('../Resources/students_complete.csv')
schools_df = pd.read_csv('../Resources/schools_complete.csv')

In [ ]:
total_schools = schools_df['school_name'].nunique()

In [ ]:
total_students = students_df['Student ID'].nunique()

In [ ]:
# Calculate total budget
total_budget = schools_df['budget'].sum()

In [ ]:
# Calculate average math score
average_math_score = students_df['math_score'].mean()

In [ ]:
# Calculate average reading score
average_reading_score = students_df['reading_score'].mean()

In [ ]:
# Calculate percentage of students passing math (score >= 70)
passing_math_percentage = (students_df['math_score'] >= 70).mean() * 100

In [ ]:
# Calculate percentage of students passing reading (score >= 70)
passing_reading_percentage = (students_df['reading_score'] >= 70).mean() * 100

In [ ]:
# Calculate % oof students that are pASSING OVERALL (both math and reading score >= 70)
overall_passing_percentage = ((students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)).mean() * 100

In [ ]:
 # Create a DataFrame to summarize the district data
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_percentage]
})

# Display the DataFrame
district_summary_df

In [32]:
# Import dependencies
import pandas as pd

students_df = pd.read_csv('../Resources/students_complete.csv')
schools_df = pd.read_csv('../Resources/schools_complete.csv')


# Calculate total numbet of schools
total_schools = schools_df['school_name'].nunique()

# Calculate total number of students
total_students = students_df['Student ID'].nunique()

# Calculate total budget
total_budget = schools_df['budget'].sum()

# Calculate average math score
average_math_score = students_df['math_score'].mean()

# Calculate average reading score
average_reading_score = students_df['reading_score'].mean()

# Calculate percentage of students passing math (score >= 70)
passing_math_percentage = (students_df['math_score'] >= 70).mean() * 100

# Calculate percentage of students passing reading (score >= 70)
passing_reading_percentage = (students_df['reading_score'] >= 70).mean() * 100

# Calculate % oof students that are pASSING OVERALL (both math and reading score >= 70)
overall_passing_percentage = ((students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)).mean() * 100

# Create a DataFrame to summarize the district data
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_percentage]
})

# Display the DataFrame
district_summary_df

In [26]:
# Merge the school and student data into a single DataFrame
school_data_combined = pd.merge(students_df, schools_df, on="school_name")

# Group by school name and calculate key metrics
school_summary = school_data_combined.groupby('school_name').agg({
    'type': 'first',
    'size': 'first',
    'budget': 'first',
    'math_score': 'mean',
    'reading_score': 'mean'
})

# Calculate per student budget
school_summary['Per Student Budget'] = school_summary['budget'] / school_summary['size']

# Calculate % passing math
passing_math = school_data_combined[school_data_combined['math_score'] >= 70].groupby('school_name')['Student ID'].count() / school_summary['size'] * 100

# Calculate % passing reading
passing_reading = school_data_combined[school_data_combined['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / school_summary['size'] * 100

# Calculate % overall passing
overall_passing = school_data_combined[(school_data_combined['math_score'] >= 70) & (school_data_combined['reading_score'] >= 70)].groupby('school_name')['Student ID'].count() / school_summary['size'] * 100

# Add passing percentages to the summary DataFrame
school_summary['% Passing Math'] = passing_math
school_summary['% Passing Reading'] = passing_reading
school_summary['% Overall Passing'] = overall_passing

# Reset index to make 'school_name' a column again
school_summary = school_summary.reset_index()

# Display the DataFrame
school_summary

,school_name,type,size,budget,math_score,reading_score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,77.048432,81.033963,628.0,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1081356,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,1884411,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
3,Ford High School,District,2739,1763916,77.102592,80.746258,644.0,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,917500,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,3022020,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,248087,83.803279,83.814988,581.0,92.505855,96.252927,89.227166
7,Huang High School,District,2917,1910635,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,3094650,77.072464,80.966394,650.0,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,585858,83.839917,84.044699,609.0,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,2547363,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,1056600,83.359455,83.725724,600.0,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,1043130,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,1319574,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,1049400,83.682222,83.955000,583.0,93.333333,96.611111,90.333333

In [ ]:
# Top Performing Schools
top_schools = school_summary.sort_values('% Overall Passing', ascending=False).head(5)

In [ ]:
# Worst Performing Schools
bottom_schools = school_summary.sort_values('% Overall Passing', ascending=True).head(5)

In [ ]:
# Display both DataFrames
top_schools, bottom_schools

In [27]:
# Top Performing Schools
top_schools = school_summary.sort_values('% Overall Passing', ascending=False).head(5)

# Worst Performing Schools
bottom_schools = school_summary.sort_values('% Overall Passing', ascending=True).head(5)

# Display both DataFrames
top_schools, bottom_schools

(            school_name     type  size   budget  math_score  reading_score  \
 1   Cabrera High School  Charter  1858  1081356   83.061895      83.975780
 12   Thomas High School  Charter  1635  1043130   83.418349      83.848930
 4   Griffin High School  Charter  1468   917500   83.351499      83.816757
 13   Wilson High School  Charter  2283  1319574   83.274201      83.989488
 9      Pena High School  Charter   962   585858   83.839917      84.044699

     Per Student Budget  % Passing Math  % Passing Reading  % Overall Passing
 1                582.0       94.133477          97.039828          91.334769
 12               638.0       93.272171          97.308869          90.948012
 4                625.0       93.392371          97.138965          90.599455
 13               578.0       93.867718          96.539641          90.582567
 9                609.0       94.594595          95.945946          90.540541  ,
               school_name      type  size   budget  math_score  reading_score  \
 10  Rodriguez High School  District  3999  2547363   76.842711      80.744686
 2    Figueroa High School  District  2949  1884411   76.711767      81.158020
 7       Huang High School  District  2917  1910635   76.629414      81.182722
 5   Hernandez High School  District  4635  3022020   77.289752      80.934412
 8     Johnson High School  District  4761  3094650   77.072464      80.966394

     Per Student Budget  % Passing Math  % Passing Reading  % Overall Passing
 10               637.0       66.366592          80.220055          52.988247
 2                639.0       65.988471          80.739234          53.204476
 7                655.0       65.683922          81.316421          53.513884
 5                652.0       66.752967          80.862999          53.527508
 8                650.0       66.057551          81.222432          53.539172  )

In [ ]:
# Math Scores by Grade
math_scores_by_grade = school_data_combined.groupby(['school_name', 'grade'])['math_score'].mean().unstack()
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

In [ ]:
# Reading Scores by Grade
reading_scores_by_grade = school_data_combined.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

In [ ]:
# Display both DataFrames
math_scores_by_grade, reading_scores_by_grade

In [28]:
# Math Scores by Grade
math_scores_by_grade = school_data_combined.groupby(['school_name', 'grade'])['math_score'].mean().unstack()
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

# Reading Scores by Grade
reading_scores_by_grade = school_data_combined.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

# Display both DataFrames
math_scores_by_grade, reading_scores_by_grade

(grade                        9th       10th       11th       12th
 school_name
 Bailey High School     77.083676  76.996772  77.515588  76.492218
 Cabrera High School    83.094697  83.154506  82.765560  83.277487
 Figueroa High School   76.403037  76.539974  76.884344  77.151369
 Ford High School       77.361345  77.672316  76.918058  76.179963
 Griffin High School    82.044010  84.229064  83.842105  83.356164
 Hernandez High School  77.438495  77.337408  77.136029  77.186567
 Holden High School     83.787402  83.429825  85.000000  82.855422
 Huang High School      77.027251  75.908735  76.446602  77.225641
 Johnson High School    77.187857  76.691117  77.491653  76.863248
 Pena High School       83.625455  83.372000  84.328125  84.121547
 Rodriguez High School  76.859966  76.612500  76.395626  77.690748
 Shelton High School    83.420755  82.917411  83.383495  83.778976
 Thomas High School     83.590022  83.087886  83.498795  83.497041
 Wilson High School     83.085578  83.724422  83.195326  83.035794
 Wright High School     83.264706  84.010288  83.836782  83.644986,
 grade                        9th       10th       11th       12th
 school_name
 Bailey High School     81.303155  80.907183  80.945643  80.912451
 Cabrera High School    83.676136  84.253219  83.788382  84.287958
 Figueroa High School   81.198598  81.408912  80.640339  81.384863
 Ford High School       80.632653  81.262712  80.403642  80.662338
 Griffin High School    83.369193  83.706897  84.288089  84.013699
 Hernandez High School  80.866860  80.660147  81.396140  80.857143
 Holden High School     83.677165  83.324561  83.815534  84.698795
 Huang High School      81.290284  81.512386  81.417476  80.305983
 Johnson High School    81.260714  80.773431  80.616027  81.227564
 Pena High School       83.807273  83.612000  84.335938  84.591160
 Rodriguez High School  80.993127  80.629808  80.864811  80.376426
 Shelton High School    84.122642  83.441964  84.373786  82.781671
 Thomas High School     83.728850  84.254157  83.585542  83.831361
 Wilson High School     83.939778  84.021452  83.764608  84.317673
 Wright High School     83.833333  83.812757  84.156322  84.073171)

In [ ]:
# Establish spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Categorize schools based on per student spending
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], spending_bins, labels=spending_labels)

In [ ]:
# Group by spending range and calculate average metrics
spending_math_scores = school_summary.groupby('Spending Ranges (Per Student)')['math_score'].mean()
spending_reading_scores = school_summary.groupby('Spending Ranges (Per Student)')['reading_score'].mean()
spending_passing_math = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Math'].mean()
spending_passing_reading = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Reading'].mean()
overall_passing_spending = school_summary.groupby('Spending Ranges (Per Student)')['% Overall Passing'].mean()

In [ ]:
# Create a DataFrame to summarize spending data
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the DataFrame
spending_summary

In [29]:
# Establish spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorize schools based on per student spending
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], spending_bins, labels=spending_labels)

# Group by spending range and calculate average metrics
spending_math_scores = school_summary.groupby('Spending Ranges (Per Student)')['math_score'].mean()
spending_reading_scores = school_summary.groupby('Spending Ranges (Per Student)')['reading_score'].mean()
spending_passing_math = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Math'].mean()
spending_passing_reading = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Reading'].mean()
overall_passing_spending = school_summary.groupby('Spending Ranges (Per Student)')['% Overall Passing'].mean()

# Create a DataFrame to summarize spending data
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the DataFrame
spending_summary

/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1247402494.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_summary.groupby('Spending Ranges (Per Student)')['math_score'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1247402494.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_summary.groupby('Spending Ranges (Per Student)')['reading_score'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1247402494.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Math'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1247402494.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_summary.groupby('Spending Ranges (Per Student)')['% Passing Reading'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1247402494.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_summary.groupby('Spending Ranges (Per Student)')['% Overall Passing'].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [ ]:
# Establish size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize schools based on size
school_summary['School Size'] = pd.cut(school_summary['size'], size_bins, labels=size_labels)

In [ ]:
# Group by school size and calculate average metrics
size_math_scores = school_summary.groupby('School Size')['math_score'].mean()
size_reading_scores = school_summary.groupby('School Size')['reading_score'].mean()
size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
size_overall_passing = school_summary.groupby('School Size')['% Overall Passing'].mean()

In [ ]:
# Create a DataFrame to summarize size data
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the DataFrame
size_summary

In [30]:
# Establish size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize schools based on size
school_summary['School Size'] = pd.cut(school_summary['size'], size_bins, labels=size_labels)

# Group by school size and calculate average metrics
size_math_scores = school_summary.groupby('School Size')['math_score'].mean()
size_reading_scores = school_summary.groupby('School Size')['reading_score'].mean()
size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
size_overall_passing = school_summary.groupby('School Size')['% Overall Passing'].mean()

# Create a DataFrame to summarize size data
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the DataFrame
size_summary

/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1368993467.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_summary.groupby('School Size')['math_score'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1368993467.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = school_summary.groupby('School Size')['reading_score'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1368993467.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_summary.groupby('School Size')['% Passing Math'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1368993467.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = school_summary.groupby('School Size')['% Passing Reading'].mean()
/var/folders/lv/dvcyff1s1pq1vc94_ytqklk40000gn/T/ipykernel_31254/1368993467.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = school_summary.groupby('School Size')['% Overall Passing'].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [ ]:
# Group by school type and calculate average metrics
type_math_scores = school_summary.groupby('type')['math_score'].mean()
type_reading_scores = school_summary.groupby('type')['reading_score'].mean()
type_passing_math = school_summary.groupby('type')['% Passing Math'].mean()
type_passing_reading = school_summary.groupby('type')['% Passing Reading'].mean()
type_overall_passing = school_summary.groupby('type')['% Overall Passing'].mean()

In [ ]:
# Create a DataFrame to summarize type data
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

In [ ]:
# Display the DataFrame
type_summary

In [31]:
# Group by school type and calculate average metrics
type_math_scores = school_summary.groupby('type')['math_score'].mean()
type_reading_scores = school_summary.groupby('type')['reading_score'].mean()
type_passing_math = school_summary.groupby('type')['% Passing Math'].mean()
type_passing_reading = school_summary.groupby('type')['% Passing Reading'].mean()
type_overall_passing = school_summary.groupby('type')['% Overall Passing'].mean()

# Create a DataFrame to summarize type data
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

# Display the DataFrame
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208